@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

li{
    list-style: none;
}

*{
    padding: 0px;
    margin: 0px;
    font-family: 'Quicksand', sans-serif;
}

.grad {
    background-image: linear-gradient(#FFFF, #05DBCC);
}

.grad-inv{
    background-image: linear-gradient(#05DBCC, #FFFF);
}

.galeria_img {
    width: 30%;
    padding: 50px;
}

.index_titulo{
    text-align: center;
    letter-spacing: 8px;
    word-spacing: 8px;
}

.index_fondo{
    position: relative;
    display: inline-block;
}

.productos_titulo{
    text-align: center;
    letter-spacing: 6px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #05B1A5;
    color: #FFFF;
}

.productos_p{
    font-style: italic;
    font-weight: bold;
    color: #708684;
    text-align: center;
}

.productos_h4{
    text-transform:uppercase ;
    color: #05B1A5;
    font-weight: bold;
    text-align: center;
}

.productos_card {
    width: 30%;
    height: auto;
}

.flex_contacto{
    display: inline-flex;
    flex-flow: row, nowrap;
}

.formulario_contacto{
    justify-content: end;
    align-items: center;
    width:fit-content;
}

@media (min-width:320px) and (max-width: 768px) {
    .index_centrado_titulo{
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #05B1A5;
        font-size: 15px;
        margin-top: 10px;      
    }
    
    .index_centrado_subtitulo{
        display: none;
    }

    .ocultar{
        display: none;
    }
}

@media screen and (max-width: 992px) {
    .index_centrado_titulo{
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translate(-50%, -50%);
        word-spacing: 10px;
        color: #05B1A5;
        font-size: 24px;
    }
    
    .index_centrado_subtitulo{
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 18px;
    }

    .nosotros_titulo{
        color: #FFFF;
        text-transform: uppercase;
        font-weight:bold;
        font-size: 20px;
    }

    .nosotros_texto{
        color: #708684;
        font-size: 16px;
        font-weight: bold;
    }

    .nosotros_card{
        text-align: start;
    }
    
}

@media (min-width:992px) {
    .index_centrado_titulo{
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translate(-50%, -50%);
        letter-spacing: 8px;
        word-spacing: 10px;
        color: #05B1A5;
        font-size: 28px;
    }
    
    .index_centrado_subtitulo{
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
        word-spacing: 10px;
        letter-spacing: 7px;
        font-size: 20px;
    }

    .nosotros_titulo{
        color: #FFFF;
        text-transform: uppercase;
        font-weight:bold;
        font-size: 24px;
    }

    .nosotros_texto{
        color: #708684;
        font-size: 18px;
        font-weight: bold;
    }

    .nosotros_card{
        text-align: end;
    }
}
